@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway|PT+Sans+Narrow|Hammersmith+One');

body {
    background-color: #ffff;
}


#topRow {
    cursor: default;
    margin-top: 50px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

h1 {
    color: #161615;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #161615;
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
}

a {
    color: #161615;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
}

#mainRow {
    margin-top: 150px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    font-size: 170px;
}

.dot {
    cursor: default;    
    font-size: 14px;
    transform: rotate(90deg);
    transform-origin: center center;
    color: #161615;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 115px;
    margin-left: -55px;
    letter-spacing: 3px;
}

.about {
    transition: all 0.3s ease;
}

.about:hover {
    letter-spacing: 0.1em;
    transition: all 1s ease-out;
}

.work {
    transition: all 0.3s ease;
}

.work:hover {
    letter-spacing: 0.1em;
    transition: all 1s ease-out;
}

.contact {
    transition: all 0.3s ease;
}

.contact:hover {
    letter-spacing: 0.1em;
    transition: all 1s ease-out;
}

#bottomBar {
    margin-top: 160px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-content: center;
}

.git {
    margin: 0 5% 0 0;
    transition: all 0.3s ease;
}

.git:hover {
    letter-spacing: 0.1em;
    transition: all 1s ease-out;
}

.linked {
    margin: 0 0 0 5%;
    transition: all 0.3s ease;
}

.linked:hover {
    letter-spacing: 0.1em;
    transition: all 1s ease-out;
}

#copyright {
    cursor: default;
    margin-top: 200px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-content: center;
}